@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100%;
}

body {
  height: 100%;
}

body > div#__next {
  height: 100%;
}

body > div#__next > main {
  height: 100%;
}

.text-sm {
  font-size: 14px;
}

input, select, textarea{
  font-size: 14px;
}

select:not([size]), input[type="date"]{
  font-size: 14px;
  color: #6b7280 ;
}

@layer components {}

@keyframes load {
}
