@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100%;
}

body {
  height: 100%;
}

body > div#__next {
  height: 100%;
}

body > div#__next > main {
  height: 100%;
}

.text-sm {
  font-size: 14px;
}

input, select, textarea{
  font-size: 14px;
}

select:not([size]), input[type="date"]{
  font-size: 14px;
  color: #6b7280 ;
}

@layer components {}

@keyframes load {
}

/* Tùy chỉnh thanh cuộn cho toàn bộ trang */
::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của thanh cuộn dọc */
  height: 8px; /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của vùng track */
}

::-webkit-scrollbar-thumb {
  background: #b6b4b4; /* Màu của thanh cuộn */
  border-radius: 10px; /* Độ bo tròn của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8e8e; /* Màu của thanh cuộn khi hover */
}
