@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



html {
  height: 100%;
}

body {
  height: 100%;
}

body > div#__next {
  height: 100%;
}

body > div#__next > main {
  height: 100%;
}

.text-sm {
  font-size: 14px;
}

.ant-select-selection-placeholder {
  color: #979797  !important;
}

@layer components {}
@layer components {
  .mp_button_small {
    @apply h-[40px] px-5 flex items-center justify-center font-medium gap-2;
  }
  
  .mp_no_fill_button {
    @apply bg-transparent border border-primary-main text-primary-main hover:bg-primary-black hover:text-primary-white hover:border-primary-black; 
  }

  .mp_fill_button {
    @apply bg-primary-main text-primary-white hover:bg-primary-black hover:text-primary-white;
  }

  .mp_transition_4 {
    @apply transition-all duration-[400ms] ease-in-out;
  }

  .mp_footer_link {
    @apply text-primary-gray hover:text-primary-main;
  }

  .mp_nav_menu_item {
    @apply font-medium  text-primary-black after:absolute after:bottom-0 after:left-1/2 after:h-[2px] after:w-0 after:translate-x-[-50%] after:bg-primary-main after:content-[''] hover:text-primary-main hover:after:w-full;
  }
  .mp_header_fixed {
    @apply fixed top-0 left-0 right-0 w-full z-[10] translate-y-0;
  }
  
  .mp_header_sticky {
    @apply fixed top-0 left-0 right-0 w-full z-[999] shadow-lg bg-primary-white h-fit;
  }

  .mp_box_shadow {
    @apply shadow-[0px_4px_16px_rgba(0,0,0,0.06)]
  }

  .mp_banner_image_shape {
    @apply h-[64px] w-[64px] rounded-xl bg-primary-white flex items-center justify-center absolute text-3xl shadow-xl;
  }

  .mp_section_padding {
    @apply xl:py-[110px] lg:py-[100px] py-[60px] ;
  }

  .mp_section_title {
    @apply text-[28px] font-bold text-primary-black tracking-[-1px] md:text-[30px] xl:text-[40px] 2xl:text-[48px];
  }

  .mp_section_des{ 
    @apply text-[18px] text-primary-gray;
  }

  .mp_ourprocess_item {
    @apply bg-custom-gradient-1 px-[30px] py-[42px] text-center flex flex-col justify-between;
  }

  .mp_ourprocess_item_icon {
    @apply mx-auto mb-[20px] flex h-[76px] w-[76px] items-center justify-center rounded-md bg-primary-white shadow-xl;
  }

  .mp_ourprocess_item_title {
    @apply  font-bold text-[24px] text-primary-black block;
  }

  .mp_p {
    @apply text-[18px] text-primary-gray tracking-[-0.5px];
  }
  
  .mp_more {
    @apply flex items-center justify-center gap-4 text-lg text-primary-black mp_transition_4 hover:text-primary-main;
  }

  .mp_major_nav_button {
    @apply cursor-pointer mp_transition_4 flex h-[43px] w-[40px] items-center justify-center rounded-md bg-primary-white text-primary-gray hover:bg-primary-main hover:text-primary-white;
  }


  @keyframes stickyanimations {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@keyframes load {
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d2d0d0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b5b5;
}
/* index studentSchool */
.bg-red-custom {
  background-color: #F14336 !important;
}
/* file styles.css */
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  height: 250px;
}

[type='text']:focus, [type='search']:focus{
  box-shadow: none;
}

[type='date']{
  color: #8e8a8a;
  font-size: 14px;
}

.select__control{
  padding: 2px 0 !important;
}

.ant-select-selection-item{
  font-weight: 500 !important;
}

.react-datepicker__input-container .react-datepicker__calendar-icon{
  margin-top: 2px;
}

.ql-toolbar {
  border: 1px solid #e5e7eb;
  border-bottom: none;
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: #f9fafb;
}

.ql-container {
  min-height: 150px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #e5e7eb;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}